* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

  scroll-behavior: smooth;
}

:root {
  --background-color: black;
}

body {
  background: var(--background-color);
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
}

.node {
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.node-relative {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.node-content {
  z-index: 6;
  background: #7ed957;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.box {
  position: absolute;
  top: 50px;
  opacity: 0;
  background: rgba(230, 230, 230, 0.9);
  padding: 5px;
  border: 2px solid pink;
  color: black;
  width: 200px;
  transition: 0.3s ease-out;
  /* visibility: hidden; */
  /* visibility: hidden; */
}

.box h1 {
  font-size: 25px;
}

.box p {
  font-size: 15px;
}

.node-content:hover + .box {
  opacity: 1;
  transform: scale(1);
}

.center_node {
  z-index: 100;
  position: absolute;
  background: #ff66c4;
  height: 80px;
  width: 80px;
  border-radius: 50%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
